[submodule "basic"]
	path = basic
	url = https://github.com/dpiparo/swanExamples.git
	branch = master
[submodule "root_primer"]
	path = root_primer
	url = https://github.com/root-project/training.git
	branch = master
[submodule "accelerator_complex"]
	path = accelerator_complex
	url = https://gitlab.cern.ch/scripting-tools/pytimber
	branch = master
[submodule "lhc-sm"]
	path = lhc-sm
	url = https://gitlab.cern.ch/LHCData/lhc-sm-apps.git
	branch = master
[submodule "beams_dynamics"]
	path = beams_dynamics
	url = https://github.com/PyCOMPLETE/PyHEADTAIL-playground.git
	branch = master
[submodule "machine_learning"]
	path = machine_learning
	url = https://github.com/iml-wg/tmvatutorials.git
	branch = master
[submodule "awake"]
	path = awake
	url = https://github.com/prasanthkothuri/AWAKE-notebooks
[submodule "SparkTraining"]
	path = SparkTraining
	url = https://github.com/cerndb/SparkTraining
	branch = master
