[submodule "basic"]
	path = basic
	url = https://github.com/diocas/swanExamples.git
	branch = master
[submodule "root_primer"]
	path = root_primer
	url = https://github.com/diocas/training.git
	branch = master
[submodule "accelerator_complex"]
	path = accelerator_complex
	url = https://github.com/diocas/pytimber.git
	branch = master
[submodule "fcc"]
	path = fcc
	url = https://github.com/diocas/fcc-tutorials.git
	branch = master
[submodule "beams_dynamics"]
	path = beams_dynamics
	url = https://github.com/diocas/PyHEADTAIL-playground.git
	branch = master
[submodule "machine_learning"]
	path = machine_learning
	url = https://github.com/diocas/tmvatutorials.git
	branch = master
[submodule "apache_spark1"]
	path = apache_spark1
	url = https://github.com/diocas/swan-spark-notebooks.git
	branch = master
[submodule "apache_spark2"]
	path = apache_spark2
	url = https://github.com/diocas/hadoop-tutorials-2016.git
	branch = master
